.board {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	max-width: 50%;
	width: 100%;

	height: 15%;
}

.board-item {
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 5px;

	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;

	max-width: 175px;
	width: 100%;

	height: 175px;

	background-color: green;
	border: 1px solid #000000;

	img {
		width: 100%;
		height: 100%;
	}
}
