@import "./utils/libs";
@import "./global/fonts.scss";
@import "./utils/vars";
@import "./global/global";
@import "./global/animation";

@import "../../js/components/board/board.scss";

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

@import "./global/media";
