@import "./utils/libs";
@import "./global/fonts.scss";
@import "./utils/vars";
@import "./global/global";
@import "./global/animation";

//!КОМПОНЕНТЫ JS
@import "../../js/components/board/board.scss";
@import "../../js/components/totalTable/totalTable.scss";
@import "../../js/components/popup/popup.scss";

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

@import "./global/media";
